/* For all pages */
h2{
    font-size: 90px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}
h3 .vito{
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: #000;
}
h4{
    font-size: 36px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #111111;
}
h5{
    font-size: 22px;
    font-family: 'Space Mono', monospace;
    color: #404040;
}
p{
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    color: #000;
}
p little-paragrph{
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    color: #404040;
}
black-btn{
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    color: #fff;
}
.monochrome{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}


/*////==== HOME PAGE CSS START ====////*/
/* Header start */
body{
    padding: 0px;
}
header{
    background-image: url("style-img/image-06-BandW.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}
.navbar-nav{
    width: 100%;
    position: relative;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-header h1 a p{
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.navbar-header h1{
    width: 140px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.navbar-brand {
    height: auto;
    padding: 0px;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-toggle {
    width: 45px;
    height: 30px;
    padding: 0px;
    margin-top: 35px;
    margin-right: 15px;
    background-color: transparent;
    border: 1px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 0px;
    transition: ease 0.3s;
}
.navbar-toggle:active,
.navbar-toggle:focus,
.navbar-toggle:hover{
    width: 90px;
    transition: ease 0.3s;
}
.hvr-bounce-to-left:before{
    background: #111111;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    padding: 10px 0 10px 0;
    width: 100%;
    display: inline-block;
    letter-spacing: 2px;
}
.navbar-nav .hvr-underline-from-center:before{
    background: #fff;
}
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}
.navbar-nav [class^="hvr-"] {
    background: transparent;
}
/* /Header end */
/*////==== HOME  PAGE END ====////*/




/*////==== ABOUT PAGE CSS START ====////*/

/*////==== ABOUT  PAGE END ====////*/




/*////==== RESUME PAGE CSS START ====////*/

/*////==== RESUME  PAGE END ====////*/




/*////==== MEDIA PAGE CSS START ====////*/

/*////==== MEDIA  PAGE END ====////*/




/*////==== CONTACT PAGE CSS START ====////*/

/*////==== CONTACT  PAGE END ====////*/


