/* For all pages */
a{
    text-decoration: none;
}
.monochrome{
    position: relative;
    background-color: rgba(0,0,0,0.7);
    min-height: 550px;
    max-height: 1200px;
}
h3.vito{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
h4{
    font-size: 36px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #111111;
}
h5{
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    color: #404040;
}
p{
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    color: #000;
}
p.little-paragrph{
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    color: #404040;
}
.black-btn{
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    color: #fff;
    padding: 15px 25px;
    background: #000;
    border: none;
}

/*////==== HOME PAGE CSS START ====////*/
/* Header start */
body{
    padding: 0px;
}
header{
    background-image: url("style-img/black&white1.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
h2{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    letter-spacing: 2px;
    padding: 0px;
}
header h2 span:last-child{
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 100;
    padding-top: 0px;
}
header h2 span{
    width: 100%;
    padding: 10px 40px;;
}
.navbar-nav{
    width: 100%;
    position: relative;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-header h1 a p{
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.navbar-header h1{
    width: 140px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.navbar-brand {
    height: auto;
    padding: 0px;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-toggle {
    width: 45px;
    height: 30px;
    padding: 0px;
    margin-top: 35px;
    margin-right: 15px;
    background-color: transparent;
    border: 1px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 0px;
    transition: ease 0.3s;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-toggle:active,
.navbar-toggle:focus,
.navbar-toggle:hover{
    width: 90px;
    transition: ease 0.3s;
}
.hvr-bounce-to-left:before{
    background: #111111;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    padding: 10px 0 10px 0;
    width: 100%;
    display: inline-block;
    letter-spacing: 2px;
}
.navbar-nav .hvr-underline-from-center:before{
    background: #fff;
}
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}
.navbar-nav [class^="hvr-"] {
    background: transparent;
}

/* /Header end */

/*  News strat */
.news{
    padding: 50px 0;
}
.black-bg{
    background: #000;
    padding: 30px 30px;
    text-align: center;
}
.black-bg p{
    line-height: 190%;
    color: #fff;
    margin-bottom: 70px;
    font-size: 18px;
    text-align: justify;
    padding: 0 30px;
}
.black-bg a{
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}
h3.vito{
    margin: 20px 0;
    text-align: center;
}
h5{
    text-align: center;
}
p.little-paragrph{
    text-align: justify;
    padding: 0 30px;
    margin: 20px 0;
}
.black-btn{
    margin-top: 20px;
}
.news-img{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*  /News end */

/* Bricks start */
.bricks{
    background-image: url("style-img/bricks.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
.bricks div:first-child{
    background: rgba(255,255,255,0.8);
}
.bricks div:first-child div:first-child{
    background: transparent;
}
.bricks .portfolio{
    padding: 50px 0 70px 0;
}
.portfolio-heading{
    margin-top: 40px;
}
.half-first{
    margin-right: -15px;
    margin-left: -15px;
}
.half-second{
    margin-right: -15px;
    margin-left: -15px;
}
/* /Bricks end */

/* Footer start */
.socials{
    background: #111111;
    padding: 40px 0;
}
.socials ul li{
    margin-right: 30px;
}
.socials ul li:last-of-type{
    margin-right: 0px;
}
.socials .fa{
    color: #fff;
    font-size: 32px;
}
.author{
    background: #171717;
    padding: 30px 0 20px 0;
    letter-spacing: 2px;
}
.author p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #fff;
}
.author p a{
    color: #2fc989;
}
/* /Footer end */
/*////==== HOME  PAGE END ====////*/




/*////==== ABOUT PAGE CSS START ====////*/

/*////==== ABOUT  PAGE END ====////*/




/*////==== RESUME PAGE CSS START ====////*/

/*////==== RESUME  PAGE END ====////*/




/*////==== MEDIA PAGE CSS START ====////*/

/*////==== MEDIA  PAGE END ====////*/




/*////==== CONTACT PAGE CSS START ====////*/

/*////==== CONTACT  PAGE END ====////*/


